@import url(http://fonts.googleapis.com/css?family=Alegreya+SC:400,700);

body {
	background-image: url('../images/nyc.jpg'); 
	background-attachment: fixed;
	font-family: 'Alegreya SC', serif;
}

/*.container {
	background-color: rgb(0,0,128,0.7);	
}*/

h1 {
/*font-family: 'Alegreya SC', serif;*/
text-align: center;
font-size: 75px;
}

.all_headers {
	font-size: 30px;
}

/*.column_headers {
	text-transform: uppercase;
}*/

ul {
	text-transform: none;
}

li {
	font-size: 20px;
}

button {
	font-size: 14px;
}

select {
	text-transform: capitalize;
}

a {
	text-decoration: none;
	color: black;
}

input {
	color: black;
}

button {
	color: black;
}

#details {
  border-radius: 5px;
	height: auto;
	padding: 5px;
}

img {
	width: 200px;
	padding: 15px;
	border-radius: 20px;
	float: right;

}