@import url(http://fonts.googleapis.com/css?family=Alegreya+SC:400,700);

body {
	background-image: url('../images/nyc.jpg');
	background-position: cover;
	background-repeat: no-repeat;;
	font-family: 'Alegreya SC', serif;
}

/*.container {
	text-align: center;
}*/

h1 {
/*font-family: 'Alegreya SC', serif;*/
text-align: center;
font-size: 75px;
}

/*.container {
background-color: rgba(0, 0, 0, 0.025);

}*/

.all_headers {
	font-size: 30px;
}

/*.column_headers {
	text-transform: uppercase;
}*/

ul {
	text-transform: none;
}

select {
	text-transform: capitalize;
}

a {
	text-decoration: none;
	color: black;
}

input {
	color: black;
}

button {
	color: black;
}

#details {
/*	background-color: rgba(0, 0, 0, 0.75);
/**/	border-radius: 5px;
*/	height: auto;
	padding: 5px;
}

/*img {
	width: 200px;
	float: right;
	padding: 15px;
	border-radius: 10px;
}*/